.body {
    width: 100%;
}

.mat-body {
    width: 90%;
    padding: 20px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-titulo {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 5px 0;
    padding: 15px 0 0 0;
    color: white;
}

.botoes-edit-delete {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
